#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* header */
.header{
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  padding: 5px;
  width: 60%;
  margin-left: 300px;
  border-radius: 20px;
}